In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
food = pd.read_csv('FAO_file.csv', encoding='latin-1')
food.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
pd.set_option("display.max_columns", None)

In [4]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [5]:
food.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [6]:
food.loc[food.duplicated(),:]

Empty DataFrame
Columns: [Area Code, Area, Item Code, Item, Element Code, Element, Unit, Y2014, Y2015, Y2016, Y2017, Y2018]
Index: []

# What is the total sum of Animal Fat produced in 2014 and 2017 respectively ?

In [7]:
food.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [8]:
sum_fats = food.groupby('Item')[['Y2014','Y2017']].sum().reset_index()
sum_fats.query("Item == 'Animal fats'")

          Item      Y2014      Y2017
3  Animal fats  209460.54  269617.53

# What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [9]:
food.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [11]:
food_yr15 = food[['Area Code','Area','Item Code','Item','Element Code','Element','Unit','Y2015']]
round(food_yr15.describe(),3)

       Area Code  Item Code  Element Code       Y2015
count  60943.000  60943.000     60943.000   59395.000
mean     134.266   2687.177      3814.856     135.236
std       72.606    146.056      2212.007    1603.404
min        4.000   2501.000       511.000   -3161.000
25%       74.000   2562.000       684.000       0.000
50%      136.000   2630.000      5142.000       0.080
75%      195.000   2775.000      5511.000       8.460
max      276.000   2961.000      5911.000  181137.000

# What is the total number and percentage of missing data in 2016 to 2 decimal places ?

In [12]:
food.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [13]:
food_yr16 = food['Y2016']
total_missing = food_yr16.isna().sum()
perc_missing = round((total_missing/len(food_yr16)) *100 , 2)
print(perc_missing,total_missing)

2.52 1535

# Which year had the highest sum of Import Quantity?
Hint- Perform a groupby operation on 'Element' and use the resulting DataFrame to answer the question

In [14]:
food.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [15]:
max_import = food[['Element','Y2014','Y2015', 'Y2016','Y2017', 'Y2018']]
max_import = max_import.query("Element == 'Import Quantity'")
max_import_yr =max_import.groupby('Element')[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum().reset_index()

# What is the total number of the sum of Production in 2014?

Hint-Perform a groupby operarion on 'Element' and use the resulting Dataframe to answer the question

In [16]:
food.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [17]:
total_prod = food.groupby('Element')['Y2014'].sum().reset_index()
total_prod
total_prod.query("Element =='Production'")

       Element       Y2014
11  Production  1931287.75

# Which of these elements had the highest sum in 2018?

Hint- Select columns "Y2018" and 'Element', Perform a groupby operation on 'Element' on the selected dataframe and answer the question

In [18]:
highest_sum = food.groupby('Element')['Y2018'].sum()
highest_sum.sort_values(ascending=False).reset_index()

                                   Element       Y2018
0                 Domestic supply quantity  2161192.10
1                               Production  2075072.89
2                                     Food  1303841.28
3            Total Population - Both sexes  1140605.00
4            Food supply (kcal/capita/day)   455261.00
5                               Processing   308429.00
6                          Import Quantity   287997.09
7                                     Feed   233489.68
8                          Export Quantity   181594.80
9                                   Losses   163902.00
10                   Other uses (non-food)    91300.97
11     Food supply quantity (kg/capita/yr)    49056.85
12                               Residuals    34864.00
13                                    Seed    25263.14
14                         Stock Variation    20577.91
15  Protein supply quantity (g/capita/day)    11833.56
16      Fat supply quantity (g/capita/day)    10258.69
17                     Tourist consumption       90.00

# Which of these elements had the 3rd lowest sum in 2018 ?

Hint-Select columns 'Y2018' and 'Element', Perform a groupby operation on 'Element'on the selected dataframe and answer the question.

In [19]:
least_three = food.groupby('Element')['Y2018'].sum()
least_three.sort_values().reset_index()

                                   Element       Y2018
0                      Tourist consumption       90.00
1       Fat supply quantity (g/capita/day)    10258.69
2   Protein supply quantity (g/capita/day)    11833.56
3                          Stock Variation    20577.91
4                                     Seed    25263.14
5                                Residuals    34864.00
6      Food supply quantity (kg/capita/yr)    49056.85
7                    Other uses (non-food)    91300.97
8                                   Losses   163902.00
9                          Export Quantity   181594.80
10                                    Feed   233489.68
11                         Import Quantity   287997.09
12                              Processing   308429.00
13           Food supply (kcal/capita/day)   455261.00
14           Total Population - Both sexes  1140605.00
15                                    Food  1303841.28
16                              Production  2075072.89
17                Domestic supply quantity  2161192.10

# What is the total Import Quantity in Algeria in 2018 ?

In [20]:
food.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [21]:
total_import = food[['Area','Element','Y2018']]
total_import.loc[(total_import['Area']=='Algeria') & (total_import['Element']=='Import Quantity')].sum()
# total_import.groupby('Area', 'Element')['Y2018'].sum()

Area       AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Element    Import QuantityImport QuantityImport QuantityI...
Y2018                                               36238.29
dtype: object

# What is the total number of unique countries in the dataset ?

In [22]:
food['Area'].value_counts()

Kenya                          1560
Egypt                          1488
Nigeria                        1474
CÃ´te d'Ivoire                  1467
Senegal                        1462
Cameroon                       1460
Uganda                         1458
Zambia                         1451
Malawi                         1447
Ethiopia                       1447
Madagascar                     1439
Mozambique                     1427
Rwanda                         1426
Angola                         1424
United Republic of Tanzania    1419
Congo                          1413
Guinea                         1410
Burkina Faso                   1409
Niger                          1403
South Africa                   1399
Zimbabwe                       1393
Morocco                        1393
Mauritius                      1378
Botswana                       1378
Ghana                          1354
Central African Republic       1344
Chad                           1343
Tunisia                        1338
Sudan                          1316
Algeria                        1313
Togo                           1294
Mali                           1293
Benin                          1285
Eswatini                       1284
Namibia                        1283
Cabo Verde                     1260
Gabon                          1245
Sierra Leone                   1242
Liberia                        1206
Mauritania                     1195
Sao Tome and Principe          1177
Gambia                         1168
Lesotho                        1150
Guinea-Bissau                  1128
Djibouti                       1095
Seychelles                       68
Sudan (former)                   53
Comoros                          45
Ethiopia PDR                     39
Name: Area, dtype: int64

In [23]:
food['Area'].nunique()

49